* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7);
  border-radius: 20px;
  border: transparent;
}
.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  box-shadow: 2px 2px 50px gray;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;
  overflow: scroll;
  h2 {
    padding: 2rem;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  transition: background 0.5s ease;
  cursor: pointer;
  img {
    width: 40%;
  }
  &:hover {
    background-color: #ff9a8b;
    h1,
    h2,
    h3,
    h4 {
      color: white;
    }
    background-image: linear-gradient(
      90deg,
      #ff9a8b 0%,
      #ff6a88 55%,
      #ff99ac 100%
    );
  }
}

.song-description {
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7rem;
  }
}

.selected {
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
}

.active-library {
  transform: translateX(0%);
  background-color: white;
  opacity: 1;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
